.photo_list_wrap {
  position: relative;
  margin: 10rem;
  height: 600px;
}

.photo_list_contain {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.photo_wrap {
  height: 600px;
  width: 450px;
  background-color: black;
  position: relative;
}

.photo_wrap img {
  filter: brightness(70%);
}

.list_wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: transparent;
}

.title_wrap {
  height: 150px;
  width: 100%;
  position: relative;
}
.title_wrap .bottom_line_wrap {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.title_wrap .bottom_line {
  width: 100%;
  border-bottom: 2px solid white;
}

.title_wrap p {
  flex-grow: 1;
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}

.photo_description_wrap {
  height: 100%;
}

.photo_description_wrap p {
  color: white;
}

.photo_description_title_wrap p {
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
